@import "tailwindcss";

:root {
  --primary: #880808;
  --secondary: #333333;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-Poppins);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Poppins, sans-serif;
}
