@import "tailwindcss";

:root {
  --primary: #880808;
  --secondary: #333333;
  --gray: #bababa;
  /* --3xl: 1920px; */
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-gray: var(--gray);
  --font-sans: var(--font-Poppins);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Poppins, sans-serif;
}
/* Default (desktop) styles */
.slick-dots {
  width: 20% !important;
  right: 0;
  top: 295px;
  position: absolute;
}

.slick-dots li button:before {
  display: none !important;
  font-size: 0;
}

.slick-dots li {
  width: 30px;
}

.slick-dots li button {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: none;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 0 1px #a52a2a, 0 0 0 3px #a52a2a;
}

.slick-dots li.slick-active button {
  background-color: #a52a2a;
  box-shadow: 0 0 0 1px #a52a2a, 0 0 0 3px #a52a2a;
}

/* Responsive for smaller devices (e.g. max-width: 768px) */
@media screen and (max-width: 768px) {
  .slick-dots {
    width: 100% !important;
    top: 250px;
    left: 180px;
    transform: translateX(-50%);
    display: flex !important;
    justify-content: center;
    position: absolute;
  }

  .slick-dots li {
    width: 10px;
    margin: 0 5px;
  }
}
